apiVersion: v1
kind: Service
metadata:
  name: vitrine-client-service
  namespace: quelyos
  labels:
    app: vitrine-client
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: vitrine-client
