apiVersion: v1
kind: Service
metadata:
  name: vitrine-quelyos-service
  namespace: quelyos
  labels:
    app: vitrine-quelyos
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: vitrine-quelyos
