apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: quelyos
  labels:
    app: backend
spec:
  type: ClusterIP
  ports:
  - port: 8069
    targetPort: 8069
    protocol: TCP
    name: http
  selector:
    app: backend
