apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: quelyos

bases:
  - ../../base

commonLabels:
  environment: production

configMapGenerator:
  - name: quelyos-config
    behavior: merge
    literals:
      - NODE_ENV=production

# Production = full resources (as defined in base)
# No patches needed, base configuration is optimized for production
